<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{edit.book}">Edit Book</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .wavy-background {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><path fill="%23007BFF" fill-opacity="0.1" d="M0 0c0 0 216 214 432 214s432-214 432-214 216 214 432 214 432-214 432-214v768H0z"/></svg>');
        background-size: cover;
      }
      .checkbox-container {
        display: flex;
        flex-wrap: wrap;
      }
      .checkbox-container label {
        width: calc(50% - 10px); /* Two columns layout with space in between */
        margin-right: 10px;
        margin-bottom: 10px;
      }
      body.rtl {
        direction: rtl;
      }
      .flex-container {
        display: flex;
        gap: 1rem; /* Add gap for consistent spacing */
      }
      .full-width {
        flex: 1;
      }
    </style>
  </head>
  <body
    class="p-8 wavy-background"
    th:classappend="${#locale.language == 'ar'} ? 'rtl' : ''"
  >
    <div
      class="w-full max-w-md p-5 mx-auto bg-white rounded-lg shadow-xl mt-16"
    >
      <h1 class="text-lg font-bold text-center mb-4" th:text="#{edit.book}">
        Edit Book
      </h1>
      <form action="/update-book-details" method="POST" class="space-y-4">
        <input type="hidden" name="bookId" th:value="${book.id}" />
        <div>
          <label
            for="title"
            class="block text-sm font-medium text-gray-700"
            th:text="#{form.label.title}"
            >Title:</label
          >
          <input
            type="text"
            id="title"
            name="title"
            th:value="${book.title}"
            required
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
          />
        </div>
        <div id="author-section">
          <label
            for="author-0"
            class="block text-sm font-medium text-gray-700"
            th:text="#{form.label.authors}"
            >Authors:</label
          >
          <div
            th:each="author, iterStat : ${book.authors}"
            class="author-input"
          >
            <input
              type="text"
              id="author-[[${iterStat.index}]]"
              name="authors"
              th:value="${author.name}"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
            <input type="hidden" name="authorIds" th:value="${author.id}" />
            <button
              type="button"
              class="delete-author-button bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-2"
              th:text="#{form.label.deleteAuthor}"
            >
              Delete
            </button>
          </div>
        </div>
        <button
          type="button"
          id="add-author-button"
          class="mt-2 bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline"
          th:text="#{form.label.addAuthor}"
        >
          Add Another Author
        </button>
        <div class="flex-container">
          <div class="full-width">
            <label
              for="publishDate"
              class="block text-sm font-medium text-gray-700"
              th:text="#{form.label.publishDate}"
              >Publish Date:</label
            >
            <input
              type="date"
              id="publishDate"
              name="publishDate"
              th:value="${book.publicationDate}"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
          <div class="full-width">
            <label
              for="purchaseDate"
              class="block text-sm font-medium text-gray-700"
              th:text="#{form.label.purchaseDate}"
              >Purchase Date:</label
            >
            <input
              type="date"
              id="purchaseDate"
              name="purchaseDate"
              th:value="${book.purchaseDate}"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
        </div>
        <div class="flex-container">
          <div class="full-width">
            <label
              for="isbn"
              class="block text-sm font-medium text-gray-700"
              th:text="#{form.label.isbn}"
              >ISBN:</label
            >
            <input
              type="text"
              id="isbn"
              name="isbn"
              th:value="${book.isbn}"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
          <div class="full-width">
            <label
              for="price"
              class="block text-sm font-medium text-gray-700"
              th:text="#{form.label.price}"
              >Price:</label
            >
            <input
              type="number"
              step="0.01"
              id="price"
              name="price"
              th:value="${book.price}"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
          </div>
        </div>
        <div>
          <label
            for="genres"
            class="block text-sm font-medium text-gray-700"
            th:text="#{form.label.genres}"
            >Genres:</label
          >
          <div class="checkbox-container">
            <div th:each="genre : ${genres}">
              <label>
                <input
                  type="checkbox"
                  name="genres"
                  th:value="${genre.id}"
                  th:checked="${book.genres.contains(genre)}"
                />
                <span th:text="${genre.name}">Genre Name</span>
              </label>
            </div>
          </div>
        </div>
        <div class="text-center">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            th:text="#{form.button.submit}"
          >
            Update Book
          </button>
        </div>
      </form>
    </div>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const authorSection = document.getElementById("author-section");
        const addAuthorButton = document.getElementById("add-author-button");

        function updateDeleteButtons() {
          const authorInputs =
            authorSection.getElementsByClassName("author-input");
          const deleteButtons = authorSection.getElementsByClassName(
            "delete-author-button"
          );
          for (let i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].style.display =
              authorInputs.length > 1 ? "inline-block" : "none";
          }
        }

        addAuthorButton.addEventListener("click", function () {
          const newAuthorDiv = document.createElement("div");
          newAuthorDiv.className = "author-input";

          const authorCount =
            authorSection.getElementsByClassName("author-input").length;

          newAuthorDiv.innerHTML = `
            <input
              type="text"
              id="author-${authorCount}"
              name="authors"
              required
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500"
            />
            <button
              type="button"
              class="delete-author-button bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded focus:outline-none focus:shadow-outline ml-2"
              th:text="#{form.label.deleteAuthor}"
            >
              Delete
            </button>
          `;

          authorSection.appendChild(newAuthorDiv);

          const deleteButtons = authorSection.getElementsByClassName(
            "delete-author-button"
          );
          for (let i = 0; i < deleteButtons.length; i++) {
            deleteButtons[i].addEventListener("click", function () {
              this.parentNode.remove();
              updateDeleteButtons();
            });
          }

          updateDeleteButtons();
        });

        const initialDeleteButtons = authorSection.getElementsByClassName(
          "delete-author-button"
        );
        for (let i = 0; i < initialDeleteButtons.length; i++) {
          initialDeleteButtons[i].addEventListener("click", function () {
            this.parentNode.remove();
            updateDeleteButtons();
          });
        }

        updateDeleteButtons();
      });
    </script>
  </body>
</html>
