<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:text="#{view.book}">View Book</title>
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <style>
      .wavy-background {
        background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%"><path fill="%23007BFF" fill-opacity="0.1" d="M0 0c0 0 216 214 432 214s432-214 432-214 216 214 432 214 432-214 432-214v768H0z"/></svg>');
        background-size: cover;
      }
      body.rtl {
        direction: rtl;
      }
      .flex-container {
        display: flex;
        gap: 1rem; /* Add gap for consistent spacing */
      }
      .full-width {
        flex: 1;
      }
    </style>
  </head>
  <body
    class="bg-gray-100 p-8 wavy-background"
    th:classappend="${#locale.language == 'ar'} ? 'rtl' : ''"
  >
    <div
      class="w-full max-w-md p-5 mx-auto bg-white rounded-lg shadow-xl mt-16"
    >
      <h1 class="text-lg font-bold text-center mb-4" th:text="#{view.book}">
        View Book
      </h1>
      <div class="space-y-4">
        <div>
          <label
            class="block text-sm font-medium text-gray-700"
            th:text="#{book.title}"
            >Title:</label
          >
          <p
            class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
            th:text="${book.title}"
          ></p>
        </div>
        <div id="author-section">
          <label
            class="block text-sm font-medium text-gray-700"
            th:text="#{book.authors}"
            >Authors:</label
          >
          <ul>
            <li
              th:each="author : ${book.authors}"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${author.name}"
            ></li>
          </ul>
        </div>
        <div class="flex-container">
          <div class="full-width">
            <label
              class="block text-sm font-medium text-gray-700"
              th:text="#{book.publishDate}"
              >Publish Date:</label
            >
            <p
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${#temporals.format(book.publicationDate, 'yyyy-MM-dd')}"
            ></p>
          </div>
          <div class="full-width">
            <label
              class="block text-sm font-medium text-gray-700"
              th:text="#{book.purchaseDate}"
              >Purchase Date:</label
            >
            <p
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${#temporals.format(book.purchaseDate, 'yyyy-MM-dd')}"
            ></p>
          </div>
        </div>
        <div class="flex-container">
          <div class="full-width">
            <label
              class="block text-sm font-medium text-gray-700"
              th:text="#{book.isbn}"
              >ISBN:</label
            >
            <p
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${book.isbn}"
            ></p>
          </div>
          <div class="full-width">
            <label
              class="block text-sm font-medium text-gray-700"
              th:text="#{book.price}"
              >Price:</label
            >
            <p
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${book.price}"
            ></p>
          </div>
        </div>
        <div>
          <label
            class="block text-sm font-medium text-gray-700"
            th:text="#{book.genres}"
            >Genres:</label
          >
          <ul>
            <li
              th:each="genre : ${book.genres}"
              class="mt-1 block w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm"
              th:text="${genre.name}"
            ></li>
          </ul>
        </div>
      </div>
      <div class="text-center mt-4 space-x-2">
        <a
          th:href="@{/results(lang=${#locale.language})}"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          th:text="#{back.to.results}"
          >Back to Results</a
        >
        <a
          th:href="@{/form(lang=${#locale.language})}"
          class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          th:text="#{add.book}"
          >Add Book</a
        >
      </div>
    </div>
  </body>
</html>
